<%= form_for [:host, @space] do |f| %>
  <%= render 'error_messages' %>
  <div>
    <%= f.label :title, "Title" %>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :description, "Description" %>
    <%= f.text_area :description %>
  </div>
  <div>
    <%= f.label :price, "Price $" %>
    <%= f.number_field :price, min: 0, max: 1000%>
  </div>
  <div>
    <%= f.label :rules, "Rules" %>
    <%= f.text_area :rules %>
  </div>
  <div>
    <%= f.label :location, "Location" %>
    <%= f.text_field :location %>
  </div>
  <div>
    <%= f.label :city, "City" %>
    <%= f.text_field :city %>
  </div>
  <div>
    <%= f.label :state, "State" %>
    <%= f.select :state, options_for_select(us_states),{}, class: 'form-control' %>  
  </div>
  <div>
    <%= f.submit yield(:button_text) %>
  </div>
<% end %>
