<div class="main-content container">
  <% provide(:title, 'Log in') %>
  <h1>Log in</h1>

  <%= form_for(:session, url: login_path) do |f| %>
    <%#= render 'shared/error_messages' %>
    <div>
      <%= f.label :email, "Email" %>
      <%= f.email_field :email %>
    </div>
    <div>
      <%= f.label :password, "Password" %>
      <%= f.password_field :password %>
    </div>
    <div>
      <%= f.submit "Log in" %>
    </div>
  <% end %>
  <p>New user? <%= link_to "Sign up now!", signup_path %></p>
</div>