

<div class="main-content container">
  <h1 class="my-4">Spaces
    <% if !@search_term == nil %>
    <small>near <%= @search_term %></small>
    <% end %>
  </h1>

  <div class="row">
    <div class="col-md-8">
      <%= render 'shared/results_map', locals: { markers: @map_markers } %>
    </div>
  </div><br>

<%= search_form_for @search, url: '/spaces/filter',
                             html: {method: :post} do |f| %>
  <div class="field">
    <%= f.label :location_cont, "Filter by Location:" %>
    <%= f.text_field :location_cont, value: session[:current_search] %>
    <%= f.label :price_gteq, "and Price: Min" %>
    <%= f.text_field :price_gteq %>
    <%= f.label :price_lteq, "Max" %>
    <%= f.text_field :price_lteq %>
  <div class="actions" style="display: inline"><%= f.submit "Apply" %></div>
  </div>
<% end %>

  <div class="row">
    <% @spaces.each do |space| %>
    <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
      <div class="card h-100 my-rentals">
        <%= link_to image_tag(space.space_image.url(:square)), space_path(:id => space.id), :class => "rounded-circle img-fluid d-block mx-auto"  %>
        <div class="card-body space_icon">
          <h4 class="card-title text-center">
            <%= link_to space.title, space_path(:id => space.id) %>
          </h4>
          <hr>
          <p class="card-text"><%= space.description %></p>
        </div>
      </div>
    </div>
    <% end %>

<!--
      <ul class="pagination justify-content-center">
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
          </a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">1</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">2</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">3</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
          </a>
        </li>
      </ul> -->

    </div>
