<div class="row">
  <div class="col-md-12" class="space-img-bucket">
    <img src="http://www.esadesign.com/wp-content/uploads/2015/08/ESA-Office-Header.jpg" alt="space image">
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h2> <%= @space.title %> </h2>
    <p>Location: <%= @space.location %></p>
    <p>Description: <%= @space.description %></p>
    <p> Price: <%= @space.price %></p>
    <p>Rules: <%= @space.rules %></p>
  </div>
  <div class="col-md-6" id="map-area-show">
    <p> Save this area for map? </p>
    <img src="https://ps.w.org/codepeople-post-map/assets/screenshot-3.jpg?rev=1195848" alt="map">
  </div>

</div>

