<div class="main-content container">
  <div class="row space-img-container">
    <div class="col-md-6 space-img-bucket">
      <!-- <img class="show-banner-img" src="https://images.pexels.com/photos/271762/pexels-photo-271762.jpeg?w=470&h=325&dpr=2&auto=compress&cs=tinysrgb" alt="space image"> -->
      <%= image_tag @space.space_image.url(:large), :class=>"show-banner-img" %>
    </div>
    <div class="col-md-6" id="show-map-container">
      <iframe id="map-show"
      width="100%"
      height="100%"
      frameborder="0" style="border:0;"
      src="https://www.google.com/maps/embed/v1/place?key=<%=$map_key%>&q=<%=@space.location%>"allowfullscreen>
    </iframe>
  </div>
</div>

<div class="show-content">
  <div class="row">
    <div class="col-md-6">
      <h2> <%= @space.title %> </h2>
      <p>Location: <%= @space.location %></p>
      <p>Description: <%= @space.description %></p>
      <p> Price: $<%= @space.price %>/hr</p>
      <p>Rules: <%= @space.rules %></p>

      <div class="space-ratings">
        <% if @space.space_ratings.count == 0 %>
        <h3>Reviews</h3>
        This space has no reviews.
        <% else %>
        <h3><%= @space.space_ratings.count %> Reviews |
          <div class="average-star" data-score="<%= @space.average_rating %>" style="display: inline"></div></h3>
          <% @space.space_ratings.each do |rating| %>
          <% booking = Booking.find_by(id: rating.booking_id) %>
          <% renter = User.find_by(id: booking.renter_id) %>
          <%= renter.first_name %> <div class="star" data-score="<%= rating.score %>"></div>
          <%= booking.end_time.strftime("%B %Y") %><br>
          <%= rating.comment %><br><br>
          <% end %>
          <% end %>
        </div>


        <div class="card">
          <div class="card-body">
            <div class="text-left">
              <div class="new-review-form form-group">
                <%= form_with scope: :space_ratings, url: "/spaces/#{@space.id}/review", local: true do |form| %>
                <%= form.hidden_field :space_id, :value => @space.id %>
                <%= form.label "Your Review:" %><div class="user_star" data-score=""></div>
                <div class="form-group md-form">
                  <%= form.text_area :comment, :class => "form-control" %>
                </div>
                <div class="form-group text-center">
                  <%= form.submit 'Submit Review', :class => "btn btn-primary" %>
                </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="col-md-6">
        <h1 style="text-align: center">Availability</h1>
        <div id="day-schedule">

        </div>
      </div>

    </div>
  </div>





