<div class="main-content container">
  <div class="row space-img-container">
    <div class="col-md-6 space-img-bucket">
      <img class="show-banner-img" src="https://images.pexels.com/photos/271762/pexels-photo-271762.jpeg?w=470&h=325&dpr=2&auto=compress&cs=tinysrgb" alt="space image">
    </div>
    <div class="col-md-6" id="show-map-container">
      <iframe id="map-show"
        width="100%"
        height="100%"
        frameborder="0" style="border:0;"
        src="https://www.google.com/maps/embed/v1/place?key=<%=$map_key%>&q=<%=@space.location%>"allowfullscreen>
      </iframe>
    </div>
  </div>

  <div class="show-content">
    <div class="row">
      <div class="col-md-6">
        <h2> <%= @space.title %> </h2>
        <p>Location: <%= @space.location %></p>
        <p>Description: <%= @space.description %></p>
        <p> Price: <%= @space.price %></p>
        <p>Rules: <%= @space.rules %></p>

      <div class="space-ratings">
        <% if @space.bookings.count > 0 %>
          <% @space.bookings.each do |booking| %>
            <% space_rating = SpaceRating.find_by(booking_id: booking.id) %>
            <% renter = User.find_by(id: booking.renter_id) %>
            <%= renter.first_name %> <%= space_rating.stars %><br>
            <%= booking.end_time.strftime("%B %Y") %><br>
            <%= space_rating.review %><br><br>
          <% end %>
        <% else %>
          This space has no reviews.
<!--       @bookings = Booking.find_by(space_id: @space.id)
      booking_array = []
      @bookings.each do |booking|
        if booking.space_rating
          booking_array << booking
        end
      end
      <h3>booking_array.count Reviews</h3>

      booking = SpaceRating.find_by(booking_id: booking.id)
 -->
        <% end %>
      </div>
      </div>
    </div>
  </div>
</div>  
