<div class="row">
  <div class="col-md-12" class="space-img-bucket">
    <img src="http://www.esadesign.com/wp-content/uploads/2015/08/ESA-Office-Header.jpg" alt="space image">
  </div>
</div>
<div class="show-content">
  <div class="row">
    <div class="col-md-6">
      <h2> <%= @space.title %> </h2>
      <p>Location: <%= @space.location %></p>
      <p>Description: <%= @space.description %></p>
      <p> Price: <%= @space.price %></p>
      <p>Rules: <%= @space.rules %></p>
    </div>
    <div class="col-md-6" id="map-area-show">
      <iframe
        width="600"
        height="450"
        frameborder="0" style="border:0"

        <%# add space address into query params in src URL below %>
        src="https://www.google.com/maps/embed/v1/place?key=<%=$map_key%>&q=Eiffel+Tower,Paris+France"allowfullscreen>
      </iframe>
    </div>
  </div>
</div>

