<!-- <div class="main-content container"> -->
  <section class="bg-primary rentals-section" id="about">
    <div class="container">
      <% provide(:title, @user) %>
      <div>
        <h1 id="profile-name"><%= @user.first_name + " " + @user.last_name %></h1>
        <div>
          <p><%= link_to "Settings", edit_user_path(current_user), :class => "text-white" %></p>
        </div>
      </section>
      <section class="bg-white rentals-section" id="about">
        <div class="container">
          <h2> My spaces for rent </h2>
          <% if @user.spaces.any? %>
          <div class="row my-rentals">
            <% @user.spaces.each do | space | %>
              <div class="col-lg-4 col-sm-6 text-center mb-4">
              <%= link_to image_tag(space.space_image.url(:square)), space_path(:id => space.id), :class => "rounded-circle img-fluid d-block mx-auto" %>
              <hr>
              <h3><%= link_to space.title, space %></h3>
              <p><%= space.location %></p>
              <small><%= link_to "Edit", edit_host_space_path(:space => space.id), :class => "btn btn-primary btn-sm"
              %></small>
              </div>
            <% end %>
          <% else %>
            <p>You currently have no rentals.</p>            
          <% end %>
          </div>
        </div>
      </section>

  <section class="bg-white rentals-section" id="about">
    <div class="container">
      <h2> My bookings </h2>
      <% if @user.bookings.any? %>
        <div class="row my-rentals">
        <% @user.bookings.each do | booking | %>
          <% if booking.renter != booking.space.owner %>
            <div class="col-lg-4 col-sm-6 text-center mb-4">
              <%= link_to image_tag(booking.space.space_image.url(:square)), space_path(:id => booking.space.id), :class => "rounded-circle img-fluid d-block mx-auto" %>
              <hr>
              <h3><%= link_to booking.space.title, booking.space %></h3>
              <p><%= booking.space.location %></p>
              <%#=binding.pry%>
              <p><%= booking.start_time.strftime("Booked on %m/%d/%Y at %I:%M%p") %></p>
            </div>
          <%end%>
        <% end %>
      <% else %>
        <p>You currently have no bookings.</p>
      <% end %>
      </div>
    </div>
  </div>
</div>
</section>
