  <head>
    <style>
       #map {
        height: 500px;
        width: 150%;
       }
    </style>
  </head>
  <body>
    <div class="main-content container">
      <div id="map"></div>
    </div>
    <script>
      function initMap() {
        <% if @map_markers.empty? %>
          var center = {lat: request.location.latitude, lng: request.location.longitude} 
        <% else %>
          var center = {lat: <%=@map_markers[0].latitude%>, lng: <%=@map_markers[0].longitude%>};
        <%end%>
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 10,
          center: center
        });

        <%@map_markers.each do |marker|%>
          addMarker({
            coords: {lat: <%=marker.latitude%>, lng: <%=marker.longitude%>},
            content: "<h3><%=marker.title%></h3><br><p><%=marker.description%></p>"
          });
        <%end%>

        function addMarker(props){
          var marker = new google.maps.Marker({
          position: props.coords,
          map: map,
          // content: props.content
          });
          var infoWindow = new google.maps.InfoWindow({
          content: props.content
          });
          marker.addListener('click', function() {
          infoWindow.open(map, marker);
          });
        }
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=<%=$map_key%>&callback=initMap">
    </script>
</body>
