

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
      <%= link_to "Space.", root_path, :class=>"navbar-brand js-scroll-trigger" %>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <% if logged_in? %>
          <li class="nav-item">
          <%= link_to "Profile", current_user, :class=>"nav-link js-scroll-trigger" %>
          </li>
          <li class="nav-item">
            <%= link_to "Log out", logout_path, method: "delete", :class=>"nav-link js-scroll-trigger" %>
          </li>
          <% else %>
          <li class="nav-item">
            <%= link_to "Log in", login_path, :class=>"nav-link js-scroll-trigger" %>
          </li>
          <li class="nav-item">
            <%= link_to "Register", signup_path, :class=>"nav-link js-scroll-trigger" %>
          </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>


