<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SpaceApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all'%>
    <%= javascript_include_tag 'application'%>

  
  </head>


  <header>
    <%= render "layouts/header" %>
    
  </header>

  <body>
    <div class= "container">
        <% if flash[:notice] %>

      <div class="alert alert-info">
        <%= flash[:notice] %>
      </div>
    <% end %>

    <% if flash[:danger] %>
      <div class="alert alert-danger">
        <%= flash[:danger] %>
      </div>
    <% end %>
  </div>
    <%= yield %>

  </body>
</html>
