<!DOCTYPE html>
<html>
  <head>
    <title>SpaceApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all'%>
    <%= javascript_include_tag 'application'%>
  </head>

  <header>
    <%= render "layouts/header" %>
  </header>

  <body>
    <% flash.each do |message_type, message| %>
        <div><%= message %></div>
    <% end %>
    <%= yield %>
  </body>
</html>
